---
import Player from '../global/Player.jsx';
---

    <div class="w-(--player-width) overflow-hidden bg-[var(--kuaa-bg-component)] text-[var(--kuaa-text)] transition-colors duration-300 m-0 md:m-4 lg:m-8 rounded-0 md:rounded-[1rem] lg:rounded-[2rem]">
        <div>
            <Player client:load />
        </div>
    </div>